<!DOCTYPE html>
<head>
    <title>Job Radar</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <div class="hero_header">
        <div class="hero_overlay">
            <div class="hero_content">
                <h1 style="text-align: center; font-size: 4rem;">Job Radar</h1>
                <p style="font-size:1rem;">Spot the opportunities that matter.</p>
            </div>
        </div>

    </div>

    <ul class="jobs_list">
        {%for job in jobs_list%}
           <li class="job_content">
            <div class="job_details">
                <h3 class="job_title">{{job["title"]}}</h3>
                <p class="job_company">{{job["company"]}}</p>
                <p class="job_location">{{job["location"]}}</p>
            </div>
               <div class="info-button">
                   <a href="{{url_for('open_details',job_id=job['id'])}}" class="button-details">Details</a>
                   <a href="{{job['link']}}" class="button-apply">Apply</a>
               </div>
            </li>
        {%endfor%}
    </ul>
</body>